{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "auto"
}
